*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

body{
    background-color: rgb(212, 194, 171);

}

main{
    background-color: white;
    width: 650px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 3px black;
}

h1 {
    font-size: 24px;
    color: rgb(4, 44, 44);
    text-shadow: 3px 3px 10px black;
}

h2 {
    font-size: 20px;
    color: rgb(4, 44, 44);
    text-shadow: 3px 3px 15px black;
}