*{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

body{
    background-color: gray;

}

main{
    background-color: whitesmoke;
    width: 650px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 3px black;
}

h1 {
    text-align: center;
    background-color: rgb(179, 179, 247);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    color: rgb(4, 44, 44);

}

h2 {
    background-color: rgb(179, 179, 247);
    margin: 0.5%;
    font-size: 25px;
    color: rgb(4, 44, 44);
    text-shadow: 3px 3px 15px black;
}

h3 {
    background-color: rgb(179, 179, 247);
    margin: 0.5%;
    font-size: 18px;
    float:left;
    color: rgb(4, 44, 44);
    text-shadow: 3px 3px 15px black;
}

article {
    background-color: rgb(199, 210, 241);
    margin: 0.5%;
}

img, h4 {
    display: inline-block;
    font-size: 14px;
}

.sombra {
    float: left;
    margin: 0.5%;
    width: 300px;
	height: 150px;
	background: rgb(68, 68, 68);
}

.sombra img {
    position: relative;
	top: -7px;
	left: -7px;
    margin: 0.5%;
}

div {
    border: 15 solid gray;
    margin: 0.5%;
    padding: 0.5%;

}

#a {
    background-color: rgb(238, 186, 167);
}